@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.choices {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.choices__metals {
  border: 1px dashed royalblue;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: 0.5rem 0;
  font-size: smaller;
  flex-basis: 25%;
}

.choices__sizes {
  border: 1px dashed royalblue;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: 0.5rem 0;
  font-size: smaller;
  flex-basis: 25%;
}

.choices__styles {
  border: 1px dashed royalblue;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: 0.5rem 0;
  font-size: smaller;
  flex-basis: 25%;
}

.order {
  margin: 1rem 1.5rem;
}

#placeOrder {
  background-color: rgb(255, 25, 0);
  color: white;
  border: 1px solid black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
